
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Bana Ulaşın</h2>

        <input type="text" class="form-control" placeholder="Ad Soyad" name="AdSoyad"/>
        <br />
        <input type="text" class="form-control" placeholder="Mail" name="Mail" />
        <br />
        <input type="text" class="form-control" placeholder="Konu" name="Konu" />
        <br />
        <input type="text" class="form-control" placeholder="Mesajınız" name="Mesaj"></input>
        <br />
        <button class="btn btn-info" style="color:black">Gönder</button>
    </form>


</div>





